@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c00;
  --secondary: #3d3e3e;
  --headerTopHeight: 80px;
  --headerBottomHeight: 70px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --headerTopHeight: var(--headerTopHeight);
  --headerBottomHeight: var(--headerBottomHeight);
  --heroSectionHeight: calc(var(--headerTopHeight) + var(--headerBottomHeight));
  --animate-asideMenu: asideMenu 0.4s ease-in-out;
  --animate-animateMenu: asideMenu 0.4s ease-in-out;
  --animate-fadeIn: fadeIn 0.4s ease-in-out;

  @keyframes asideMenu {
    0% {
      margin-right: -100%;
      opacity: 0;
    }
    100% {
      margin-right: 0px;
      opacity: 1;
    }
  }
  @keyframes animateMenu {
    0% {
      margin-top: -100%;
      opacity: 0;
    }
    100% {
      margin-top: 0px;
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply m-0 h-full min-h-screen p-0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .container {
    padding-inline: 2rem;

    @variant md {
      padding-inline: 4rem;
    }
    @variant lg {
      padding-inline: 2rem;
    }
    @variant xl {
      padding-inline: 4rem;
    }
    @variant 2xl {
      padding-inline: 8rem;
    }
  }
}
@layer components {
  .customTitle {
    @apply relative mb-4 inline-block text-xl font-bold uppercase after:absolute after:-bottom-2 after:left-0 after:block after:h-1 after:w-2/4 after:rounded-md after:bg-white after:content-[''];
  }
  .bottomLine {
    @apply after:bg-secondary/40 relative block w-full text-center text-3xl font-medium uppercase after:absolute after:-bottom-4 after:left-1/2 after:h-[1px] after:w-1/5 after:-translate-x-1/2 after:rounded-md after:content-[''];
  }
  .control {
    @apply w-[230px] rounded-lg border bg-white p-4 text-sm dark:bg-gray-800;
  }
  .menu {
    @apply z-10 mt-1 rounded-lg bg-white shadow-lg dark:bg-gray-800;
  }
  .option {
    @apply cursor-pointer px-4 py-2;
  }
  .isSelected {
    @apply bg-primary text-white;
  }
  .custom {
    @apply bg-white dark:bg-gray-800;
  }
  .singleValue {
    @apply text-gray-800 dark:text-white;
  }
  .input {
    @apply text-gray-800 dark:text-white;
  }
}
